In [1]:
def exercice1(L):
    result =1
    for i in L:
        result*=i
    return result

In [3]:
exercice1([2,3,6])

36

In [35]:
def exercice2(L):
    for tuple in L:
        L.sort(key=lambda tuple: tuple[-1])
    return L

In [36]:
exercice2([(1,3),(3,2),(5,1)])

[(5, 1), (3, 2), (1, 3)]

In [21]:
def exercice3(d1,d2):
    result = d1
    for key, value in d2.items():
        if key in result:
            result[key] += value
        else:
            result[key] = value
    return result

In [22]:
exercice3({'a':200,'b':300,'c':400,'d':500},{'a':100,'b':200,'c':150,'g':900})

{'a': 300, 'b': 500, 'c': 550, 'd': 500, 'g': 900}

In [23]:
def exercice4(n):
    d = {}
    for i in range(1, n+1):
        d[i] = i*i
    return d

In [24]:
exercice4(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [40]:
def exercice5(L):
    for tuple in L:
        L.sort(key=lambda tuple: float(tuple[-1]), reverse=True)
    return L

In [41]:
exercice5([('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')])

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [46]:
def exercice6():
    myset ={1,2,3,4,5}
    print(myset)
    for i in myset:
        print(i)
    myset.add(6)
    print(myset)
    myset.remove(5)
    print(myset)

In [47]:
exercice6()

{1, 2, 3, 4, 5}
1
2
3
4
5
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}